@import "../../constants.css";

.board {
  position: relative;
  display: grid;
  grid-template-columns: calc(0.25 * var(--tile-size)) calc(
      3 * var(--tile-size)
    );
}

.tiles {
  display: grid;
  grid-template-rows: repeat(4, var(--tile-size));
  grid-template-columns: repeat(3, var(--tile-size));
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
}

.tile-light {
  background-color: var(--light-tile);
}

.tile-dark {
  background-color: var(--dark-tile);
}

.move-candidate {
  width: calc(var(--tile-size)-10);
  height: calc(var(--tile-size)-10);
  border: 5px solid blue;
}

.attack-candidate {
  width: calc(var(--tile-size)-10);
  height: calc(var(--tile-size)-10);
  border: 5px solid red;
}

.checked {
  background-color: var(--checked-tile);
}
