.player-box {
  display: flex;
  flex-direction: row;

  background: #242424;
  box-shadow: inset #101010 0px 0px 60px -12px;

  padding: 10px;
  overflow-x: scroll;
  max-width: calc(var(--tile-size) * 3);
  margin-left: calc(var(--tile-size) * 0.25);

  scrollbar-width: thin;

  align-items: center;
  min-height: 50px;
}
.piece-icon {
  width: calc(var(--tile-size) * 0.5);
  height: calc(var(--tile-size) * 0.5);
  text-align: center;
  border: 1px solid red;
  margin-right: 2px;
}

@media all and (max-height: 713px) {
  .player-box {
    min-height: 50px;
  }
}

@media all and (max-height: 610px) {
  .player-box {
    min-height: 50px;
  }
}

@media all and (max-width: 330px) {
  .player-box {
    min-height: 30px;
  }
}
@media all and (max-width: 250px) {
  .player-box {
    min-height: 30px;
  }
}
