:root {
  --tile-size: 100px;
  --light-tile: #f0d8b7;
  --dark-tile: #b48764;
  --bg-color: #242424;
  --text-color: #fff;
  --checked-tile: yellow;
}

@media all and (max-width: 330px) {
  :root {
    --tile-size: 75px;
  }
}
@media all and (max-width: 250px) {
  :root {
    --tile-size: 50px;
  }
}

@media all and (max-height: 713px) {
  :root {
    --tile-size: 75px;
  }
}

@media all and (max-height: 610px) {
  :root {
    --tile-size: 50px;
  }
}
