:root {
  --tile-size: 100px;
  --light-tile: #f0d8b7;
  --dark-tile: #b48764;
  --bg-color: #242424;
  --text-color: #fff;
}

@media all and (max-width: 450px) {
  :root {
    --tile-size: 50px;
  }
}
